@import "../helpers/helpers.scss";

.side_header{
    position: fixed;
	width: 100%;
	z-index: 20;
	top: 60px;
    height: calc(100vh - 60px);
    background-color: #f0b180;
    width: calc(100% / 5);
    .navigation{
        .navigation_title{
            font-size: 20px;
            padding: 10px 20px;
            background-color: #fb994c;
        }
        .pages{
            padding: 0 20px;
            ul{
                padding-left: 0;
                li{
                    list-style: none;
                    padding: 10px 0;
                    a{
                        display: flex;
                        align-items: center;
                        .page_img{
                            padding-right: 10px;
                            img{
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
}