$browser-prefixes: false !default;

:root {
	// Fonts
	--font_primary: "Ubuntu", sans-serif;
	--font_secondary: "IBM Plex Sans", sans-serif;

	// Primary colors
	--color_primary: #ffca05;
	--color_secondary: #fff6ea;
	--color_tertiary: #9d2e33;
	--color_quaternary: #aa3024;
	--color_white: #ffffff;
	--color_black: #231f20;

	// Extras
	--container_width: 100%;
	--container_left_space: calc((100% - var(--container_width)) / 2);
	--transition: ease all 300ms;

	@media (min-width: 768px) and (max-width: 991px) {
		--container_width: 750px;
	}

	@media (min-width: 992px) and (max-width: 1199px) {
		--container_width: 970px;
	}

	@media (min-width: 1200px) {
		--container_width: 1170px;
	}

	// @media (min-width: 1401px) {
	//   --container_width: 1360px;
	// }
}
